<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    <title>{{ .Params.resume.name }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/d615d782a5.js"
      crossorigin="anonymous"
    ></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              meta: "#6B7280",
              link: "#3B82F6",
            },
          },
        },
      };
    </script>
  </head>

  <body class="mx-auto md:w-[800px] h-[1200px] flex flex-col items-stretch">
    <header class="mt-4">
      <h1 class="text-3xl font-bold text-center">{{ .Params.resume.name }}</h1>
      <div class="mt-4 flex flex-row w-full justify-center items-center">
        <div class="flex flex-row justify-start mt-4 gap-3">
          <div class="flex items-center mb-2">
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:{{ .Params.resume.email }}" class="ml-2 text-link">{{ .Params.resume.email }}</a>
          </div>
          <div class="flex items-center mb-2">
            <i class="fa-brands fa-github"></i>
            <a href="{{ .Params.resume.github }}" class="ml-2 text-link">{{ .Params.resume.github }}</a>
          </div>
          <div class="flex items-center mb-2">
            <img src="https://wancat.cc/img/favicon.ico" class="mr-2" />
            <a href="{{ .Params.resume.website }}" class="text-link">{{ .Params.resume.website }}</a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="mt-4">
        <h1 class="text-2xl font-bold text-center">{{ if eq .Language.Lang "en" }}Education{{ else }}教育{{ end }}</h1>
        {{ range .Params.resume.education }}
        <p class="mt-2">
          <a class="text-link" href="{{ .department_url }}">{{ .department }}</a>
          @
          <a class="text-link" href="{{ .school_url }}">{{ .school }}</a>
          , {{ .period }}
        </p>
        {{ end }}
      </section>
      <hr class="mt-4" />

      <section class="mt-2">
        <h1 class="text-2xl font-bold text-center">{{ if eq .Language.Lang "en" }}Honors{{ else }}榮譽{{ end }}</h1>
        <div class="mt-2">
          {{ range .Params.resume.honors }}
          <div class="mx-4">
            <h2 class="text-lg font-semibold">
              <a class="text-link" href="{{ .url }}">{{ .title }}</a>
            </h2>
            <div class="mt-2 prose prose-sm">
              {{ .content | markdownify }}
            </div>
          </div>
          {{ end }}
        </div>
      </section>

      <hr class="mt-4" />

      <section class="mt-4">
        <h1 class="text-2xl font-bold text-center">{{ if eq .Language.Lang "en" }}Work Experiences{{ else }}工作經歷{{ end }}</h1>
        {{ range .Params.resume.work_experiences }}
        <div class="mt-2 mb-4">
          <h2 class="text-xl font-semibold">
            {{ .position }} @
            <a class="text-link" href="{{ .company_url }}">{{ .company }}</a>
          </h2>
          <div class="mt-2 flex flex-row justify-between text-sm text-meta">
            <p>{{ .location }}</p>
            <p>{{ .period }}</p>
          </div>
          <ul class="list-disc pl-5 mt-2">
            {{ range .projects }}
            <li>
              <a class="text-link" href="{{ .url }}">{{ .name }}</a>: {{ .description }}
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </section>

      <hr class="mt-4" />

      <section class="mt-4">
        <h1 class="text-2xl font-bold text-center">{{ if eq .Language.Lang "en" }}Projects{{ else }}專案{{ end }}</h1>
        {{ range .Params.resume.projects }}
        <div class="mt-2 mb-4">
          <h2 class="text-xl font-semibold">
            <a class="text-link" href="{{ .url }}">{{ .name }}</a>
          </h2>
          <p>{{ .role }}</p>
          <div class="mt-2 flex flex-row justify-between text-sm text-meta">
            <p>{{ .tech }}</p>
            <p>{{ .period }}</p>
          </div>
          <ul class="list-disc pl-5 mt-2 text-justify">
            <li>{{ .description }}</li>
            {{ range .achievements }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </section>

      <hr class="mt-4" />

      <section class="mt-4">
        <h1 class="text-2xl font-bold text-center">{{ if eq .Language.Lang "en" }}Skills{{ else }}技能{{ end }}</h1>
        <div class="flex justify-between mt-2">
          <div class="w-1/2 pr-2 flex flex-row justify-between">
            <p class="font-bold">{{ if eq .Language.Lang "en" }}Languages{{ else }}程式語言{{ end }}</p>
            <p>{{ .Params.resume.skills.languages }}</p>
          </div>
          <div class="w-1/2 pl-2 flex flex-row justify-between">
            <p class="font-bold">{{ if eq .Language.Lang "en" }}Frameworks{{ else }}框架{{ end }}</p>
            <p>{{ .Params.resume.skills.frameworks }}</p>
          </div>
        </div>
        <div class="flex justify-between mt-2">
          <div class="w-1/2 pr-2 flex flex-row justify-between">
            <p class="font-bold">{{ if eq .Language.Lang "en" }}Databases{{ else }}資料庫{{ end }}</p>
            <p>{{ .Params.resume.skills.databases }}</p>
          </div>
          <div class="w-1/2 pl-2 flex flex-row justify-between items-center">
            <p class="font-bold">{{ if eq .Language.Lang "en" }}DevOps{{ else }}DevOps{{ end }}</p>
            <p class="text-sm">{{ .Params.resume.skills.devops }}</p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html> 