<div style="color: var(--secondary)">
  {{ if eq .Page.Language.Lang "zh" }}
  <p>
    <a class="copyright-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
    © {{ .Page.Date.Year }} 由
    <a class="copyright-link" href="{{ .Site.BaseURL }}"
      >{{ .Site.Params.Author.Name }}</a
    >
    創作，採用
    <a
      class="copyright-link"
      href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh-hant"
      >姓名標示-相同方式分享 4.0 國際</a
    ><img
      src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
      alt=""
      style="
        max-width: 1em;
        max-height: 1em;
        margin-left: 0.2em;
        vertical-align: text-bottom;
        display: inline;
      "
    /><img
      src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
      alt=""
      style="
        max-width: 1em;
        max-height: 1em;
        margin-left: 0.2em;
        vertical-align: text-bottom;
        display: inline;
      "
    /><img
      src="https://mirrors.creativecommons.org/presskit/icons/sa.svg"
      alt=""
      style="
        max-width: 1em;
        max-height: 1em;
        margin-left: 0.2em;
        vertical-align: text-bottom;
        display: inline;
      "
    />
    授權條款
  </p>
  {{ else }}
  <p>
    <a class="copyright-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
    © {{ .Page.Date.Year }} by
    <a class="copyright-link" href="{{ .Site.BaseURL }}"
      >{{ .Site.Params.Author.Name }}</a
    >
    is licensed under
    <a
      class="copyright-link"
      href="https://creativecommons.org/licenses/by-sa/4.0"
      >CC BY-SA 4.0</a
    ><img
      src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
      alt=""
      style="
        max-width: 1em;
        max-height: 1em;
        margin-left: 0.2em;
        display: inline;
      "
    /><img
      src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
      alt=""
      style="
        max-width: 1em;
        max-height: 1em;
        margin-left: 0.2em;
        display: inline;
      "
    /><img
      src="https://mirrors.creativecommons.org/presskit/icons/sa.svg"
      alt=""
      style="
        max-width: 1em;
        max-height: 1em;
        margin-left: 0.2em;
        display: inline;
      "
    />
  </p>
  {{ end }}
</div>
